<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DX_tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <DX_tests.Properties.Settings>
            <setting name="Sam" serializeAs="String">
                <value>Самосознание – способность осознавать свои эмоции, мотивы и потребности. </value>
            </setting>
            <setting name="Sam_low" serializeAs="String">
                <value>Низкий (0-2 балла) уровень самосознания означает несформированную способность осознания своих эмоций, мотивов и потребностей, осложняющую работу, связанную с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Sam_med" serializeAs="String">
                <value>Средний (3-4) уровень самосознания означает недостаточно сформированную способность осознания своих эмоций, мотивов и потребностей, затрудняющую профессиональное и личностное развития.</value>
            </setting>
            <setting name="Sam_high" serializeAs="String">
                <value>Высокий (5-6) уровень самосознания означает способность осознания своих эмоций, мотивов и потребностей, дающую возможность прогнозировать успешность в профессиях, связанных с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Empatia" serializeAs="String">
                <value>Эмпатия – умение ставить себя на место другого, учитывать в процессе принятия решений чувства и эмоции других людей. </value>
            </setting>
            <setting name="Em_low" serializeAs="String">
                <value>Низкий (0-2) уровень эмпатии свидетельствует о слабой способности понимать чувства, мотивы и потребности других людей и может препятствовать эффективному выполнению работы, связанной с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Em_med" serializeAs="String">
                <value>Средний (3-4) уровень эмпатии может осложнять профессиональную деятельность в сферах, связанных с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Em_high" serializeAs="String">
                <value>Высокий (5-6) уровень эмпатии является профессионально важным качеством для профессий, связанных с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Reg" serializeAs="String">
                <value>Саморегуляция – способность управлять своими эмоциями. </value>
            </setting>
            <setting name="Reg_low" serializeAs="String">
                <value>Низкий (0-2 балла) уровень самоконтроля может проявляться в виде эмоциональной неустойчивости, тревожности, утомляемости, осложняя профессиональную деятельность, связанную с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Reg_med" serializeAs="String">
                <value>Средний (3-4) уровень самоконтроля означает недостаточную способность управлять своими эмоциями, затрудняющую профессиональную и социальную адаптацию человека.</value>
            </setting>
            <setting name="Reg_high" serializeAs="String">
                <value>Высокий (5-6) уровень самоконтроля позволяет людям контролировать свое эмоциональное состояние, что является профессионально важным качеством в профессиях, связанных с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Skills" serializeAs="String">
                <value>Навыки взаимодействия – доброжелательный интерес к людям, готовность к сотрудничеству.</value>
            </setting>
            <setting name="Skills_low" serializeAs="String">
                <value>Низкий (0-2) уровень затрудняет работу, связанную с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Skills_med" serializeAs="String">
                <value>Средний (3-4) уровень может осложнять деятельность, связанную с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Skills_high" serializeAs="String">
                <value>Высокий (5-6) уровень способствует эффективному взаимодействию с другими людьми и является профессионально важным качеством для профессий, связанных с управлением, общением, обслуживанием, воспитанием, обучением.</value>
            </setting>
            <setting name="Motivation" serializeAs="String">
                <value>Самомотивация – способность ставить перед собой цели и достигать их.</value>
            </setting>
            <setting name="Motivation_low" serializeAs="String">
                <value>Низкий (0-2) уровень самомотивации может негативно влиять на профессиональную успешность в различных сферах.</value>
            </setting>
            <setting name="Motivation_med" serializeAs="String">
                <value>Средний (3-4) уровень самомотивации может осложнять профессиональную деятельность.</value>
            </setting>
            <setting name="Motivation_high" serializeAs="String">
                <value>Высокий (5-6) уровень самомотивации способствует достижению поставленных целей и позволяет прогнозировать профессиональную успешность в различных сферах.</value>
            </setting>
            <setting name="temp_str" serializeAs="String">
                <value/>
            </setting>
            <setting name="COUNT_FIZ" serializeAs="String">
                <value>физика и математика  </value>
            </setting>
            <setting name="COUNT_BIO" serializeAs="String">
                <value>химия и биология  </value>
            </setting>
            <setting name="COUNT_ELEC" serializeAs="String">
                <value>радиотехника и электроника  </value>
            </setting>
            <setting name="COUNT_MECH" serializeAs="String">
                <value>механика и конструирование  </value>
            </setting>
            <setting name="COUNT_GEO" serializeAs="String">
                <value>география и геология  </value>
            </setting>
            <setting name="COUNT_LIT" serializeAs="String">
                <value>литература и искусство  </value>
            </setting>
            <setting name="COUNT_HIS" serializeAs="String">
                <value>история и политика  </value>
            </setting>
            <setting name="COUNT_MED" serializeAs="String">
                <value>педагогика и медицина  </value>
            </setting>
            <setting name="COUNT_LANG" serializeAs="String">
                <value>иностранные языки  </value>
            </setting>
            <setting name="COUNT_SPORT" serializeAs="String">
                <value>спорт и военное дело  </value>
            </setting>
            <setting name="Profile_info" serializeAs="String">
                <value>Пять  баллов говорят о ярко выраженном интересе к предмету или виду деятельности. Это – необходимое, но недостаточное условие правильного выбора профессии. Другое важное условие – способности, или профессионально важные качества. 

</value>
            </setting>
            <setting name="Profile_info2" serializeAs="String">
                <value> Если сумма баллов ни в одной колонке не превышает трех баллов, значит, профессиональные интересы слабо выражены. </value>
            </setting>
            <setting name="Trevog_low1" serializeAs="String">
                <value>0—6 — низкий уровень тревожности. Вас не слишком беспокоят ваши отношения с людьми и ваши успехи или неуспехи в школе. Возможно, все в вашей жизни складывается так хорошо, что вас даже не беспокоят эти вопросы. Или природа наградила вас темпераментом, который позволяет невозмутимо воспринимать укусы и удары судьбы. Вам можно позавидовать. Главное, чтобы ваша эмоциональная броня не мешала вам общаться с людьми. Третий вариант — проблемы есть, но вы делаете вид, что их нет. </value>
            </setting>
            <setting name="Trevog_med" serializeAs="String">
                <value>7—13 — средний уровень тревожности. Умеренный уровень тревожности оказывает на человека стимулирующее действие. Однако вам следует учитывать, что ваше внутренне состояние неустойчиво и зависит от влияния внешних факторов – успех или неуспеха в делах, отношений с близкими людьми, здоровья. </value>
            </setting>
            <setting name="Trevog_high1" serializeAs="String">
                <value>14—20 — высокий уровень тревожности. Вероятно, вы часто испытываете нервное перенапряжение. Обратите внимание на режим дня, займитесь спортом, пересмотрите свои привычки. Определите, что для вас сейчас самое главное, и на время отложите второстепенные дела. Не сравнивайте себя с другими! Возможно, у вас более тонкая и чувствительная нервная система, чем у других людей. Учитывайте это при планировании своей работы. Не стремитесь к общению с большим числом людей. 
</value>
            </setting>
            <setting name="Trevog_high2" serializeAs="String">
                <value>Люди с высокой тревожностью беспричинно волнуются по поводу предстоящих событий. Волнение и неуверенность мешают им достичь успеха. Людям с высокой тревожностью полезно научиться управлять своим психическим состоянием. </value>
            </setting>
            <setting name="Trevog_low2" serializeAs="String">
                <value>Люди с низкой тревожностью в экстремальных ситуациях выглядят не лучшим образом. Слишком спокойные и самоуверенные, они оказываются в нужный момент  неподготовленными. Обычно у них низкая мотивация достижений. Им также необходимо учиться управлять своим психическим состоянием, чтобы в ситуациях экзамена или соревнований, которые для всех являются стрессовыми, показать все, на что способны.</value>
            </setting>
            <setting name="t1" serializeAs="String">
                <value/>
            </setting>
            <setting name="t2" serializeAs="String">
                <value/>
            </setting>
            <setting name="t3" serializeAs="String">
                <value/>
            </setting>
            <setting name="t4" serializeAs="String">
                <value/>
            </setting>
        </DX_tests.Properties.Settings>
    </userSettings>
</configuration>
